{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react",
    "@babel/preset-stage-0"
  ],
  "plugins": ["react-hot-loader/babel"]
}
